@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@

<!-- Background image -->
<div class="home-background">
    <div class="row">
        <div class="col-sm-6"></div>
        <div class="col-sm-6 mt-5">
            <div class="row text-center text-white mt-5 p-5">
                <div class="mt-5">
                    <div class="mt-5">
                        <h1 style="letter-spacing: 1px;">SDN RUNNER</h1>
                        <h2 style="letter-spacing: 1px;">Configuration Generator</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Background image -->